* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
}

body {
  background: #0b0b0e;
  color: white;
  overflow-x: hidden;
}


/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 110px 60px;
  position: relative;
}

.hero-left {
  max-width: 620px;
}

.subtitle {
  font-size: 42px;
  font-weight: 700;
  background: linear-gradient(
    90deg,
    #B16CEA,
    #FF5E69,
    #FF8A56
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.hero h1 {
  font-size: 56px;
  line-height: 1.15;
  margin: 24px 0 40px;
  letter-spacing: -0.02em;
  color: #f5f5f5;
}


.buttons {
  display: flex;
  gap: 18px;
}

.btn {
  padding: 14px 28px;
  border-radius: 999px;
  font-size: 15px;
  cursor: pointer;
}

.btn.primary {
  background: linear-gradient(
    90deg,
    #B16CEA,
    #FF5E69,
    #FF8A56,
    #FFA84B
  );
  border: none;
  color: white;
}

.btn.primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 35px rgba(255, 138, 86, 0.45);
}


.btn.outline {
  background: transparent;
  color: #fff;
  border: 1.5px solid transparent;
  background-image:
    linear-gradient(#0b0b0e, #0b0b0e),
    linear-gradient(
      90deg,
      #B16CEA,
      #FF5E69,
      #FF8A56,
      #FFA84B
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.btn.outline:hover {
  color: white;
  background-image:
    linear-gradient(
      90deg,
      #B16CEA,
      #FF5E69,
      #FF8A56,
      #FFA84B
    ),
    linear-gradient(
      90deg,
      #B16CEA,
      #FF5E69,
      #FF8A56,
      #FFA84B
    );
  box-shadow: 0 10px 30px rgba(255, 138, 86, 0.35);
  transform: translateY(-2px);
}
.btn.primary,
.btn.outline:hover {
  background-size: 300% 300%;
  animation: gradientMove 4s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


/* CIRCLE */
.circle {
  /* width: 130px;
  height: 130px;
  border-radius: 50%;
  background: linear-gradient(135deg, #a855f7, #fb923c); */
  position: absolute;
  right: 120px;
  top: 50%;
  transform: translateY(-50%);
  animation: spin 10s linear infinite;
}

.circle span {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 11px;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* MARQUEE */
.marquee {
  background: white;
  color: black;
  padding: 14px 0;
  transform: rotate(-2deg);
  overflow: hidden;
}

.marquee-track {
  white-space: nowrap;
  display: inline-block;
  animation: marquee 18s linear infinite;
  font-weight: 500;
}

@keyframes marquee {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); }
}

@keyframes spin {
  from { transform: translateY(-50%) rotate(0deg); }
  to { transform: translateY(-50%) rotate(360deg); }
}
