.project-showcase {
  padding: 120px 6%;
  background: radial-gradient(circle at top, #1a1a22, #0b0b0e);
  color: #fff;
}

/* MOCKUP */
.project-mockup {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.project-mockup img {
  width: 100%;
  max-width: 1400px;
  object-fit: cover;
  height: 709.6px;
  border-radius: 24px;
  box-shadow: 0 40px 100px rgba(0,0,0,.6);
}

/* INFO GRID */
.project-info {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 80px;
  align-items: start;
}

/* TITLE */
.project-info h2 {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 700;
}

.project-info h2 span {
  background: linear-gradient(90deg,#B16CEA,#FF5E69,#FF8A56);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* META */
.project-meta {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.meta-row {
  display: grid;
  grid-template-columns: 120px 1fr;
  padding-top: 18px;
  border-top: 1px solid rgba(255,255,255,.12);
}

.meta-label {
  color: #9ca3af;
  font-size: 15px;
}

.meta-value {
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .project-info {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .project-info h2 {
    font-size: 34px;
  }

  .meta-row {
    grid-template-columns: 1fr;
    gap: 6px;
  }
}






.case-section {
  
  
  justify-content: center;
}

.case-card {
  background: linear-gradient(180deg, #16171c, #111218);
  border-radius: 20px;
  padding: 40px;
  max-width: 1350px;
  margin: auto;
}

/* ITEM */
.case-item {
  margin-bottom: 32px;
}

.case-item:last-child {
  margin-bottom: 0;
}

/* TITLE */
.case-item h4 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 12px;
  background: linear-gradient(
    90deg,
    #B16CEA,
    #FF5E69,
    #FF8A56
  );
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.case-item h3{
    margin: 20px;
}
.case-item img{
    max-width: 1250px;
    margin:20px auto;
}
@media (max-width: 768px){
  .case-item img{
    max-width: 100%;
    width: 400px;
  }
  .case-item p{
    font-size: 10px;
  }
}

/* TEXT */
.case-item p {
  font-size: 20px;
  line-height: 1.7;
  color: #cbd5e1;
}

.case-item strong {
  color: #fff;
}

/* PERSONA CARD */
.persona-card {
  max-width: 1100px;
  margin: 0 auto;
}

/* TITLE */
.case-title {
  font-size: 20px;
  font-weight: 600;
  color: #c084fc;
  margin-bottom: 6px;
}

.case-subtitle {
  font-size: 14px;
  color: #e5e7eb;
  margin-bottom: 18px;
}

.case-desc {
  font-size: 14.5px;
  color: #cbd5e1;
  line-height: 1.7;
  margin-bottom: 28px;
}

.case-item ul {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}   
.case-item ul li{
    font-size: 22px;
    color: #FCFCFC;
    font-family: 'jamboree', sans-serif;
}
.case-item-cta{
    margin-bottom: 20px;
}
.case-item-cta h4{
    font-size:50px;
    text-align: center;
}
.case-item-cta h4 span{
    background: linear-gradient(
    90deg,
    #B16CEA,
    #FF5E69,
    #FF8A56
  );
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}
.case-button-cta{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    
}
.btn-gradient{
    padding: 12px 30px;
  font-weight: 600;
  background:
   linear-gradient(180deg, #16171c, #111218) padding-box,
    linear-gradient(90deg, #B16CEA, #FF5E69, #FF8A56) border-box;
  border: 2px solid transparent;
  border-radius: 50px;
  cursor: pointer;
  color: white;
}
.btn-gradient:hover {
  background:
    
    linear-gradient(90deg, #FF8A56, #FF5E69, #B16CEA) border-box;
    transform: 0.9s ease-in-out;
}

/* LAYOUT */
